
<div class="card mt-5">
    <div class="card-body">
        <h3>Buscador</h3>
        <!-- Cuando el evento onSubmit , suceda se va pasar todo el formulario 'productForm' -->
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">


            <div class="form-group">
                <input type="text" class="form-control" name="texto">
            </div>

            <div class="form-group">
                <label>
                    <input type="radio" name="tipo" value="todos" > Todos
                </label><br/>
            </div>

            <div class="form-group">
                <label>
                    <input type="radio" name="tipo" value="dui" > Por DUI
                </label><br/>
            </div>

            <div class="form-group">
                <label>
                    <input type="radio" name="tipo" value="name" > Por Nombre
                </label><br/>
            </div>
            <div class="form-group">
                <label>
                    <input type="radio" name="tipo" value="vehicle"> Por Vehiculo
                </label><br/>
            </div>
            
            
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Buscar
                </button>
                
            </div>
        </form>
    </div>
</div>